table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

.primary-button {
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border-color: red;
}

.primary-button:hover {
  background-color: green;
  border-color: green;
}

.secondary-button {
  background-color: gray;
  color: white;
  font-weight: 200;
  border-radius: 0.5rem;
  border-color: black;
}

.secondary-button:hover {
  background-color: darkslategray;
}